body
{
background-color: red;
text-align: center;
}
#check_btn
{
    background-color: rgb(2, 185, 247);
}
#output
{
    background: white;
}
#button1
{
    background-color: black;
    color: rgb(0, 238, 255);
}